:root {
--primary: #1A2B33;
--secondary: #1E3640;
--grey: #A9BEC8;
--dark-cyan: #34C3BE;
--lighten-yellow: #F2B138;
}

* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box; 
    font-family: "Poppins", sans-serif;
 }

body { 
    background: var(--primary); 
    height: 100vh; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    color: white;
 }
.wrapper {
    text-align: center;
 }

.logo { 
    font-size: 60px; 
    display: flex; 
    justify-content: center; 
    gap: 15px; 
    margin-bottom: 35px;

 }
.logo span:nth-child(1){ 
    color: var(--dark-cyan);
    font-size: 60px;
    transform: scale(1.2); 
    
}
.logo span:nth-child(2){
    color: var(--lighten-yellow);
     transform: scale(1.1);
 }
.card { 
    background: var(--secondary); 
    width: 380px; 
    padding: 30px; 
    border-radius: 12px; 
    box-shadow: 0 5px 15px rgba(0,0,0,0.3); 
    margin-bottom: 30px; 
}
.title { 
    font-size: 14px; 
    font-weight: 600; 
    margin-bottom: 20px; 
}
.select-box { 
    background:#13232b; 
    padding: 18px; 
    border-radius:12px; 
    display:flex; 
    justify-content:space-between; 
}
.choice { 
    width:130px; 
    height:60px; 
    background:#36505a; 
    border-radius:10px; 
    display:flex; 
    align-items:center; 
    justify-content:center; 
    font-size:30px; 
    cursor:pointer; 
}
.choice:hover { 
    background:#476c79; 
}
.active { 
    background:#cfe7f1 !important; 
    color:#1a2b33; 
    font-weight:bold;
 }
.remember{ 
    font-size:12px; 
    color:var(--grey); 
    margin-top:18px;
 }
.btn { 
    background:var(--lighten-yellow);
    padding:15px 30px; 
    border-radius:10px; 
    border:none; 
    cursor:pointer; 
    font-weight:600; 
}