 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
header {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #ffffff;
     font: bold 16px "Poppins", sans-serif;
     box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
 }
header button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #5083ad;
    color: rgb(255, 255, 255);
    cursor: pointer;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s;
    
 }
 button:hover {
  background: #B4CDED;
}

section {
    padding: 20px;
    text-align: center;
}
section button {
    padding: 15px 30px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    background-color: #5083ad;
    color: white;
    cursor: pointer;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s;
}
section button:hover {
    background-color: #B4CDED;
}
.book {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 20px;
    padding: 20px;
    background: white;
    border-radius: 8px;
    min-height: 150px;
}
.book-card {
    background: #eee;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}  