 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#head{
    text-align: center;
    margin: 20px 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
    color: #333;
}

.main{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 70px;
    margin: 20px 0;
}

.settings{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 20px 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#colorPicker{
    width: 100px;
    height: 100px;
    cursor: pointer;
    border-radius: 50%;
    border: none; 
    appearance: none;
}

#colorPicker::-webkit-color-swatch-wrapper {
    padding: 0;
    border-radius: 50%;
}

#colorPicker::-webkit-color-swatch {
    border: none;
    border-radius: 50%;
}

/* All buttons consistent */
#colorBtn, #rainbowBtn, #eraserBtn, #clearBtn{
    width: 140px;
    height: 35px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    transition: 0.2s;
    background-color: #f0f0f0;
}

#colorBtn:hover, #rainbowBtn:hover, #eraserBtn:hover, #clearBtn:hover{
    background-color: #ddd;
}

/* Active button style */
button.active{
    background-color: #4CAF50;
    color: rgb(255, 0, 0);
    box-shadow: 0px 0px 8px rgba(0,0,0,0.5);
}

#container{
    display: grid;
    width: 500px;
    height: 500px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

.grid-cell {
    aspect-ratio: 1 / 1;
    border: 1px solid #ccc; /* grid lines */
}
